---
import { icons } from "./icons";

interface Props {
  type: keyof typeof icons; // 'building' | 'user' | 'bedrooms'
  value: string | number;
  label: string;
}

const { type, value, label } = Astro.props as Props;

const icon = icons[type] || icons.building;
---

<div class="p-4 rounded-md border border-slate-300 h-full items-center gap-4">
    <p class="wrap-break-word mb-2.5 text-sm font-semibold">{label}</p>
    <div class="flex gap-2 items-center">
        <aside set:html={icon} class="w-6 h-6 text-slate-700"></aside>
        <span class="text-slate-700 wrap-break-word">{value}</span>
    </div>
</div>
