<div class="m-0 p-0">
    <svg
        id="wave"
        style="transform:rotate(0deg); transition: 0.3s"
        viewBox="0 0 1440 150"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        ><defs
            ><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"
                ><stop stop-color="rgba(29, 41, 61, 1)" offset="0%"></stop><stop
                    stop-color="rgba(29, 41, 61, 1)"
                    offset="100%"></stop></linearGradient
            ></defs
        ><path
            style="transform:translate(0, 0px); opacity:1"
            fill="url(#sw-gradient-0)"
            d="M0,105L40,97.5C80,90,160,75,240,65C320,55,400,50,480,60C560,70,640,95,720,107.5C800,120,880,120,960,102.5C1040,85,1120,50,1200,45C1280,40,1360,65,1440,75C1520,85,1600,80,1680,65C1760,50,1840,25,1920,35C2000,45,2080,90,2160,105C2240,120,2320,105,2400,90C2480,75,2560,60,2640,50C2720,40,2800,35,2880,35C2960,35,3040,40,3120,45C3200,50,3280,55,3360,50C3440,45,3520,30,3600,37.5C3680,45,3760,75,3840,82.5C3920,90,4000,75,4080,72.5C4160,70,4240,80,4320,70C4400,60,4480,30,4560,20C4640,10,4720,20,4800,32.5C4880,45,4960,60,5040,57.5C5120,55,5200,35,5280,32.5C5360,30,5440,45,5520,52.5C5600,60,5680,60,5720,60L5760,60L5760,150L5720,150C5680,150,5600,150,5520,150C5440,150,5360,150,5280,150C5200,150,5120,150,5040,150C4960,150,4880,150,4800,150C4720,150,4640,150,4560,150C4480,150,4400,150,4320,150C4240,150,4160,150,4080,150C4000,150,3920,150,3840,150C3760,150,3680,150,3600,150C3520,150,3440,150,3360,150C3280,150,3200,150,3120,150C3040,150,2960,150,2880,150C2800,150,2720,150,2640,150C2560,150,2480,150,2400,150C2320,150,2240,150,2160,150C2080,150,2000,150,1920,150C1840,150,1760,150,1680,150C1600,150,1520,150,1440,150C1360,150,1280,150,1200,150C1120,150,1040,150,960,150C880,150,800,150,720,150C640,150,560,150,480,150C400,150,320,150,240,150C160,150,80,150,40,150L0,150Z"
        ></path></svg
    >
</div>
