---
// navbar
import logo from "../../assets/logo_regio_rentas-removebg.webp";
---

<div class="fixed w-full bg-white z-30">
    <div class="w-full border-b border-gray-200 pt-4">
        <div class="w-11/12 m-auto flex justify-between items-center pb-4">
            <a href="/" class="flex-1 flex items-center gap-1">
                <img
                    class="w-16 object-cover aspect-square"
                    src={logo.src}
                    alt="Logo Regio Rentas servicios de inmobiliaria"
                />
                <h2 class="font-bold">
                    <!-- <span class="text-red-700">Regio</span> Rentas -->
                </h2>
            </a>
            <div class="flex-1 text-base md:text-xl hidden md:inline-block">
                <h2> Tu pr贸ximo hogar, a un clic.</h2>
            </div>
            <!-- Esto hacerlo con React es un dropdown -->
            <div class="flex gap-2.5">
                <!-- <Dropdown client:load /> -->
                <!-- Bot贸n secundario m谩s neutro -->
                <a
                    href="/login"
                    class="block px-4 py-2 text-sm font-semibold text-gray-800 rounded transition-all duration-200 hover:-translate-y-0.5"
                >
                    Iniciar sesi贸n
                </a>
                <a
                    href="https://wa.me/5218119995314?text=隆Hola!%20Estoy%20interesado%20en%20m谩s%20informaci贸n%20sobre%20las%20propiedades."
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Contactar por WhatsApp"
                    class="inline-flex items-center gap-2 px-4 py-2.5 md:py-2 bg-green-600 hover:bg-green-700 active:bg-green-800 transition-colors duration-200 ease-in-out rounded-lg text-white text-sm md:text-sm font-medium shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2 cursor-pointer"
                >
                    <svg
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icon-tabler-brand-whatsapp"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path>
                        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"
                        ></path>
                        <path
                            d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                        ></path>
                    </svg>
                    <span>Contactar</span>
                </a>
            </div>
        </div>
    </div>
</div>
