---
// navbar
import logo from "../../assets/logo_regio_rentas-removebg.webp";
---

<div class="fixed w-full bg-white z-30">
    <div class="w-full border-b border-gray-200 pt-4">
        <div class="w-11/12 m-auto flex justify-between items-center pb-4">
            <a href="/" class="flex-1 flex items-center gap-1">
                <img
                    class="w-16 object-cover aspect-square"
                    src={logo.src}
                    alt="Logo Regio Rentas servicios de inmobiliaria"
                />
                <h2 class="font-bold">
                    <!-- <span class="text-red-700">Regio</span> Rentas -->
                </h2>
            </a>
            <div class="flex-1 text-xl">
                <h2>游끼 Tu pr칩ximo hogar, a un clic.</h2>
            </div>
            <!-- Esto hacerlo con React es un dropdown -->
            <div class="flex gap-2.5">
                <!-- <Dropdown client:load /> -->
                <!-- Bot칩n secundario m치s neutro -->
                <a
                    href="/login"
                    class="block px-4 py-2 text-sm font-semibold text-gray-800 rounded transition-all duration-200 hover:-translate-y-0.5"
                >
                    Iniciar sesi칩n
                </a>
                <a
                    href="/login"
                    class="block px-4 py-2 text-sm font-semibold text-[#C40001] bg-[#FAE4E4] border border-[#C40001]/10 rounded transition-all duration-200 hover:bg-[#FAD4D4] hover:shadow-md hover:-translate-y-0.5"
                >
                    Publicar propiedad
                </a>
            </div>
        </div>
    </div>
</div>
