---
// import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import edificio from "../assets/edificio.jpg";
import casas from "../assets/casas.jpg";

import { client } from "../lib/sanityClient";
import Card from "../components/ui/Card.astro";
import CardsWhatDo from "../components/ui/CardsWhatDo.astro";

// import bgHeader from "../assets/headerFondo.jpg";

const propiedades = await client.fetch(`*[_type == "property"]{
  _id,
  title,
  description,
  "imagenes": images[].asset->url,
  "slug": slug.current
}`);
---

<Layout title="RegioRentas">
	<section class="w-full h-screen p-5">
		<div
			class="h-full w-full bg-cover bg-no-repeat rounded-2xl flex justify-center items-center"
			style="background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0,0,0,0.30)), url('/headerFondo.jpg')"
		>
			<div class="flex flex-col gap-5">
				<h2 class="text-white text-6xl font-bold text-center">
					Encontremos una hogar <br /> perfecto para ti
				</h2>
				<p class="text-3xl text-white font-medium">
					Busque con confianza con su fuente de viviendas en venta o
					alquiler
				</p>
				<div class="w-full bg-white flex rounded-lg">
					<input
						type="text"
						class="flex-1 px-2 text-lg outline-0"
						placeholder="Colonia, Ciudad, Calle"
					/>
					<button
						class="bg-red-800 hover:bg-red-700 transition delay-75 text-white flex py-2 px-4 my-1 mx-1 rounded-lg cursor-pointer"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="icon icon-tabler icons-tabler-outline icon-tabler-search"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path
								d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"
							></path><path d="M21 21l-6 -6"></path></svg
						>
						Search
					</button>
				</div>
			</div>
		</div>
	</section>
	<section class="w-full flex justify-center border-b border-slate-300">
		<div class="text-center py-8">
			<h2 class="font-semibold text-3xl text-gray-700 mb-2">
				Varias Localidades
			</h2>
			<div class="flex gap-3 text-gray-700">
				<h3>Monterrey</h3>
				<h3>San Nicolas</h3>
				<h3>Guadalupe</h3>
				<h3>San Pedro</h3>
			</div>
		</div>
	</section>
	<section class="p-5">
		<main class="bg-slate-100 rounded-xl p-8 flex flex-col gap-4">
			<header class="text-slate-700 w-11/12 m-auto">
				<span class="font-semibold">Procesos sencillos y faciles</span>
				<h2 class="font-bold text-3xl">Qué hacemos?</h2>
			</header>
			<CardsWhatDo />
		</main>
	</section>
	<section
		class="flex flex-col justify-center items-center text-slate-700 py-10"
	>
		<h2 class="text-3xl font-bold">Muévete hacia lo que te mueve</h2>
		<p class="font-semibold text-xl mb-8">Lugares destacados</p>
		<div class="flex gap-8">
			<div class="w-xs text-center">
				<div class="overflow-hidden w-full h-96 rounded-xl">
					<img
						class="object-cover hover:scale-125 transition duration-500 ease-in-out"
						src={edificio.src}
						alt=""
					/>
				</div>

				<p class="font-semibold block my-2">Departamentos</p>
				<span
					class="inline-block border border-slate-300 px-5 p-1 rounded-md"
					>25 Listados</span
				>
			</div>
			<div class="w-xs text-center">
				<div class="overflow-hidden w-full h-96 rounded-xl">
					<img
						class="object-cover hover:scale-125 transition duration-500 ease-in-out"
						src={casas.src}
						alt=""
					/>
				</div>
				<p class="font-semibold block my-2">Casas</p>
				<span
					class="inline-block border border-slate-300 px-5 p-1 rounded-md"
					>25 Listados</span
				>
			</div>
		</div>
	</section>
</Layout>
