---
import exampleImg from "../assets/casas.jpg"

interface Props {
    titulo: any,
    direccion: any,
    precio: any
}

const {titulo, direccion, precio} = Astro.props
---


<article class="rounded-md">
    <div class="w-full h-60 rounded-xl overflow-hidden">
        <img class="object-cover w-full h-full" src={exampleImg.src} alt="">
    </div>
    <div class="py-3">
        <span class="font-normal text-slate-700 font-display text-sm">{titulo}</span>
        <p class="font-bold text-slate-700">{direccion}</p>
        <span class="font-bold text-slate-700">{precio} MXN / Noche aprox</span>
    </div>
</article>