---
//Componente de filtros para la busqueda de propiedades
---

<div class="hidden md:flex ">
    <select
        class="p-2 rounded-sm border border-gray-300"
        name="operacion"
    >
        <option value="test" selected>Operacion</option>
    </select>
    <select
        class="p-2 rounded-sm border border-gray-300"
        name="operacion"
    >
        <option value="test" selected>Departamentos</option>
    </select>
    <select
        class="p-2 rounded-sm border border-gray-300"
        name="operacion"
    >
        <option value="test" selected>Recamaras</option>
    </select>
    <select
        class="p-2 rounded-sm border border-gray-300"
        name="operacion"
    >
        <option value="test" selected>Precio</option>
    </select>
</div>

