---
import PropertyForm from "../../../../components/App/newProperty/PropertyForm"
import LayoutApp from "../../../../layouts/LayoutApp.astro"
---

<LayoutApp title="nueva propiedad">
    <h1 class="text-3xl text-neutral-800 font-semibold">Agregar nueva propiedad</h1>
    <span class="inline-block my-1.5 text-slate-500">Completa la información de la propiedad</span>
    <div class="pt-4">
        <PropertyForm propertyId={undefined} client:only />
    </div>
</LayoutApp>