---
//favortios.astro
import Layout from "../../layouts/LayoutPanel.astro"
import FavoritosPage from "@/modules/user-panel/favoritos/FavoritosPage"
--- 

<Layout title="Favoritos">
    <h2 class="text-2xl mb-8">Mis favoritos</h2>
    <FavoritosPage client:load />
</Layout>