---
import messageIcon from "../../assets/ant-design_message-twotone.png";
import secureIcon from "../../assets/tdesign_secured-filled.png";
import magicIcon from "../../assets/mdi_magic.png";
import userIcon from "../../assets/user-xl.png";
import FeatureCard from "./FeatureCard.astro";
---

<section class="flex justify-around flex-wrap gap-4">
    <FeatureCard
        icon={messageIcon.src}
        title="Comunicación"
        text="Punto de contacto único, sincronizado con las herramientas que utiliza"
    />
    <FeatureCard
        icon={secureIcon.src}
        title="Fiabilidad"
        text="Cumplimos nuestras promesas, facilitamos plazos por adelantado y aportamos previsibilidad"
    />
    <FeatureCard
        icon={magicIcon.src}
        title="Calidad "
        text="La calidad ante todo. Todos los proyectos están respaldados por nuestro apoyo incondicional y una garantía de satisfacción del 100%."
    />
    <FeatureCard
        icon={userIcon.src}
        title="Familias"
        text="Alquile una bonita casa para su familia, elija entre pisos en sociedades y apartamentos individuales"
    />
</section>
